body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
  background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
  background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
  background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
  background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
}
h1 {
  height: 8rem;
  line-height: 5rem;
}
.input-form {
  display: inline-block;
  max-width: 30rem;
  margin-top: 1rem;
  padding: 3rem;
  text-align: center;

  background-image: url("../images/pink_rice.png");
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}
.loginA > a{
  color: black;
}
.btn_re{
  font-size: large;
  font-family: Arial, sans-serif;

}
#name.form-control {
  display: inline-block;
  width: 50%;
  margin: 15px;
}
#id.form-control {
  display: inline-block;
  width: 50%;
  margin: 15px;
}
#pw.form-control {
  display: inline-block;
  width: 50%;
  margin: 15px;
}
#pw2.form-control {
  display: inline-block;
  width: 50%;
  margin: 15px;
}
#email.form-control {
  display: inline-block;
  width: 50%;
  margin: 15px;
}
