html, body {
  background-image: url("../images/pink_rice.png");
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  background-image: url("../images/pink_rice.png");
  padding-left: 20%;
}
.navbar-brand {
  font-size: xx-large;
  font-weight: bold;
}
.nav-item {
  font-family: Arial, sans-serif;
  font-size: large;

}
.container {
  position: relative;
  padding-top: 8rem;
}
#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom : 100px;
}
header > h1 {
  padding-left: 43%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-top: 15px;
}
footer {
  height: 8rem;
  position: relative;
  transform: translateY(-100%);
  background-image: url("../images/ricepaper2.png");
}
footer > p {
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.container3 .row-cols-lg-4 >article> img {
  width: 300px;
  height: 400px;
}
.container3 .row-cols-lg-4{
  width: 1320px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
}
.container3 .row-cols-lg-4 > article {
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
}
img {
  display: block;
}
.img-thumbnail {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}
.btn {
  font-family: Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
}
.ic_img1 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 40%;
  left: 14%;
}
.col .ic_img2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  right: 26%;
}
.btn1{
  position: absolute;
  top: 80%;
  left: 15%;
}
.btn2{
  position: absolute;
  top: 80%;
  right: 27%;
}
.section1 > article{
 text-align: center;
  font-family: Arial, sans-serif;
}
